.btn {
  border: 1px solid;
  @apply inline-block text-sm bg-primary border-primary px-6 py-4 rounded text-white leading-none no-underline text-center font-bold;
  border-radius: 41px;
  transition: background-color 0.22s, border-color 0.22s;

  &:hover {
    @apply border-primary text-primary bg-transparent;
  }

  &--secondary {
    @apply bg-primary text-white border-primary mx-auto;

    @screen md {
      @apply ml-0 mr-auto;
    }

    &:hover {
      @apply bg-transparent text-primary border-primary;
    }

    &-center {
      @screen md {
        @apply mx-auto;
      }
    }
  }

  &--dark {
    @apply bg-black border-black;
    &:hover {
      @apply bg-transparent text-black border-black;
    }
  }
}
