html {
  @apply text-base font-main text-black;
}

body {
  @apply relative;
  font-size: 1rem;
}

.main {
  padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  &:last-of-type {
    @apply mb-0;
  }
}
