html {
  @apply text-base font-main text-black;
}

body {
  @apply relative;
  font-size: 1rem;
}

.main {
  padding-top: 80px;
}

.wpcf7-response-output {
  @apply hidden;
}

.wpcf7-not-valid-tip {
  @apply text-sm mt-2;
}
