@font-face {
  font-family: "ITC Souvenir Std";
  src: url("../fonts/SouvenirStd-Medium.woff2") format("woff2"),
    url("../fonts/SouvenirStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-medium leading-tight mb-6;
}

h1 {
  @apply text-h2 leading-regular;
  @screen md {
    @apply text-h1 leading-tight;
  }
}

h2 {
  @apply text-h3 leading-tight;
  @screen md {
    @apply text-h2 leading-regular;
  }
}

h3 {
  @apply text-h4 leading-average;
  @screen md {
    @apply text-h3 leading-tight;
  }
}

h4 {
  @apply text-h5 leading-average;
  @screen md {
    @apply text-h4;
  }
}

h5 {
  @apply text-h6 leading-normal;
  @screen md {
    @apply text-h5 leading-average;
  }
}

p {
  @apply text-base leading-loose;
}
