.header {
  top: 0;
  left: 0;
  height: 80px;

  &__wrapper {
    max-height: 80px;
  }

  a {
    -webkit-tap-highlight-color: transparent;
  }

  svg {
    display: block;
  }

  .nav {
    @apply flex;

    .menu-item {
      @apply list-reset;

      a {
        @apply no-underline text-black text-sm font-medium;
        transition: color 0.22s;

        &:hover {
          @apply text-primary;
        }
      }
    }

    .current_page_item {
      a {
        @apply relative text-primary;
        pointer-events: none;

        &::before {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #0b7eaf9a;
          transition: transform 0.2s;
        }
      }
    }
  }

  &__nav {
    .nav {
      .menu-item {
        @screen xl {
          @apply mx-4;
        }

        @screen xxl {
          @apply mx-6;
        }

        a {
          @apply text-sm;
        }
      }

      .menu-item:last-of-type {
        @apply mr-0;
      }
    }
  }

  &__mobile {
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility ease 0.3s;

    .nav {
      @apply flex-col p-0;

      .menu-item {
        margin: 2vh 0;
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 0.3s, transform 0.22s;
        -webkit-tap-highlight-color: transparent;

        &.current_page_item {
          a {
            @apply text-primary;
          }
        }

        a {
          @apply text-h3 text-black-darker;
        }
      }
    }
  }

  .hamburger {
    transform: translateX(8px);
    @apply w-12 h-12 p-2 z-10;
    -webkit-tap-highlight-color: transparent;

    span {
      @apply block bg-black w-full rounded-sm;
      height: 2px;
      margin: 6px 0;
    }

    span:first-of-type {
      animation: to-close-upper 0.5s forwards;

      @keyframes to-close-upper {
        0% {
          transform: translateY(7px) rotate(-45deg);
        }
        40% {
          transform: translateY(7px);
        }
        100% {
          transform: translate(0);
        }
      }
    }

    span:nth-of-type(2) {
      opacity: 1;
      transition: opacity 0.1s ease 0.1s;
    }

    span:last-of-type {
      animation: to-close-lower 0.5s forwards;

      @keyframes to-close-lower {
        0% {
          transform: translateY(-8px) rotate(45deg);
        }
        40% {
          transform: translateY(-8px);
        }
        100% {
          transform: translate(0);
        }
      }
    }
  }

  .is-menu-open {
    .header__mobile {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s, visibility ease 0s;

      .menu-item {
        opacity: 1;
        transform: translateX(0);

        @for $i from 1 through 7 {
          &:nth-of-type(#{$i}) {
            transition-delay: calc(0.12s + #{$i}s / 20);
          }
        }
      }
    }

    .hamburger {
      span:first-of-type {
        animation: to-open-upper 0.5s forwards;

        @keyframes to-open-upper {
          0% {
            transform: translate(0);
          }
          40% {
            transform: translateY(7px);
          }
          100% {
            transform: translateY(7px) rotate(-45deg);
          }
        }
      }

      span:nth-of-type(2) {
        opacity: 0;
        transition: opacity 0s ease 0.2s;
      }

      span:last-of-type {
        animation: to-open-lower 0.5s forwards;

        @keyframes to-open-lower {
          0% {
            transform: translate(0);
          }
          40% {
            transform: translateY(-8px);
          }
          100% {
            transform: translateY(-8px) rotate(45deg);
          }
        }
      }
    }
  }
}
