/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@tailwind preflight;

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/**
 * This injects any component classes registered by Tailwind plugins.
 */
@tailwind components;

@import "common/grid";
@import "common/global";

/*! purgecss start ignore */
@import "vendor/picker";
/*! purgecss end ignore */

/** Import theme styles */
@import "components/buttons";
@import "components/arrows";
@import "components/comments";
@import "components/wp-classes";

/*! purgecss start ignore */
@import "common/typography";
@import "layouts/header";
@import "layouts/footer";
@import "components/forms";
@import "components/form-addon";
@import "components/map";
@import "components/datepicker";

@import "sections/hero";
@import "sections/image_content";
@import "sections/images_side_by_side";
@import "sections/cards";
/*! purgecss end ignore */

@import "layouts/sidebar";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "sections/full-width";
@import "sections/testimonials";
@import "sections/programs";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;
