.hero {
  padding: 7rem 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);

  @screen xl {
    padding: 10rem 0;
  }

  @screen xxl {
    padding: 14rem 0;
  }

  picture {
    @apply absolute w-full h-full;

    img {
      @apply w-full h-full;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &--sub-page {
    height: 27rem;
  }

  &__overlay {
    top: 0;
    left: 0;
    opacity: 0.42;
    @apply w-full h-full bg-black-darkest absolute;
  }
}
