.image_content {
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  }

  p {
    @apply text-grey-darkest mt-6;
  }

  .is-contained {
    img {
      object-fit: contain;
      box-shadow: none;
    }
  }
}
