.image_content {
  img {
    @apply w-full h-auto sticky;
    border-radius: 10px;
    top: 100px;
    object-fit: cover;
    box-shadow: 0px 8px 12px -2px rgba(0, 0, 0, 0.12);

    @screen xl {
      @apply h-full;
    }
  }

  p {
    @apply text-grey-darkest mt-6;

    &:first-of-type {
      @apply mt-0;
    }
  }

  .is-contained {
    img {
      object-fit: contain;
      box-shadow: none;
    }
  }
}
