.programs {
  @apply overflow-hidden;
  &__wrapper {
    @apply flex flex-wrap py-16 relative;
    @screen lg {
      @apply my-16 py-32  flex-no-wrap;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      background-color: inherit;
      width: 130px;
      height: 100%;
      z-index: -1;
    }
    &::before {
      left: -130px;
      border-radius: 15px 0 0 15px;
    }
    &::after {
      right: -130px;
      border-radius: 0 15px 15px 0;
    }
  }
  &__circles {
    @apply p-0 ml-auto mt-8;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.6rem 1.2rem;

    @screen mobile {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    // @screen sm {
    //   grid-template-columns: repeat(4, minmax(0, 1fr));
    // }

    @screen md {
      @apply pl-8 mt-0;
      justify-content: center;
      grid-template-columns: repeat(2, minmax(0, 140px));
      grid-gap: 0.5rem 0.8rem;
    }
    @screen lg {
      @apply px-0;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      max-height: 1px;
      max-width: 490px;
      grid-gap: 1rem;
    }
    li {
      @apply relative;
      -webkit-tap-highlight-color: transparent;

      &:before {
        @apply block w-full;
        content: "";
        padding-top: 100%;
      }
      a {
        @apply text-black font-heading border-2 border-solid border-transparent rounded-full text-sm leading-normal text-center px-5 flex no-underline absolute flex-col justify-center items-center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: content-box;
        background-color: var(--bg-color);
        box-shadow: 0px 0px 72px 9px transparent;
        transition: border-color 0.22s, transform 0.22s, box-shadow 0.22s;

        @screen xl {
          @apply text-base;
        }
        &:hover {
          border-color: var(--border-color);
          transform: scale(1.04);
          box-shadow: 0px 0px 72px 9px var(--bg-color);
        }
      }
    }
  }
}
