.programs {
  &__wrapper {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -8rem;
      width: 8rem;
      height: 100%;
      background-color: inherit;
    }

    &::after {
      left: unset;
      right: -8rem;
    }
  }

  .content-box {
    box-sizing: content-box;
  }

  &__circles {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding-bottom: 36px;

    @screen md {
      padding-bottom: auto;
    }

    li {
      flex: 0 0 calc(50% - 20px);

      &.active {
        a {
          border-width: 10px;
          pointer-events: none;
          cursor: not-allowed;
        }
      }
      flex: 0 0 calc(30% - 2vw);
      margin: 0 7px 20px 7px;

      &:nth-of-type(2),
      &:nth-of-type(5),
      &:nth-of-type(8),
      &:nth-of-type(10) {
        transform: translateY(36px);
      }

      @screen md {
        flex: 0 0 calc(20% - 40px);
        margin: 0;
        &:nth-of-type(2),
        &:nth-of-type(5),
        &:nth-of-type(8),
        &:nth-of-type(10) {
          transform: translateY(0);
        }
      }

      @screen lg {
        flex: 0 0 calc(40% - 20px);
        margin: 0 0 20px 20px;
      }

      @screen xl {
        flex: 0 0 calc(33% - 20px);
        margin: 0 0 20px 20px;
      }
      position: relative;

      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
      }
      a {
        border-radius: 100%;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        box-sizing: content-box;
        border-width: 0;
        border-style: solid;
        &:hover {
          border-width: 3px;
        }
      }

      &:nth-of-type(1) a {
        background-color: rgba(200, 62, 62, 0.15);
        border-color: rgba(200, 62, 62, 0.5);
      }

      &:nth-of-type(2) a {
        background-color: rgba(26, 172, 155, 0.15);
        border-color: rgba(26, 172, 155, 0.5);
      }

      &:nth-of-type(3) a {
        background-color: rgba(202, 167, 42, 0.15);
        border-color: rgba(202, 167, 42, 0.5);
      }

      &:nth-of-type(4) a {
        background-color: rgba(71, 168, 11, 0.15);
        border-color: rgba(71, 168, 11, 0.5);
      }

      &:nth-of-type(5) a {
        background-color: rgba(26, 145, 195, 0.15);
        border-color: rgba(26, 145, 195, 0.5);
      }

      &:nth-of-type(6) a {
        background-color: rgba(244, 93, 1, 0.15);
        border-color: rgba(244, 93, 1, 0.5);
      }
    }
  }
}
