.programs {
  @apply overflow-hidden;

  &__wrapper {
    @apply flex flex-wrap py-16 relative;

    @screen lg {
      @apply my-16 py-32 flex-no-wrap;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      background-color: inherit;
      width: 130px;
      height: 100%;
    }

    &::before {
      left: -130px;
      border-radius: 15px 0 0 15px;
    }

    &::after {
      right: -130px;
      border-radius: 0 15px 15px 0;
    }
  }

  &__circles {
    @apply flex ml-auto w-full justify-center mt-12 p-0;
    flex-flow: row wrap;

    @screen md {
      @apply w-full justify-between;
    }

    @screen lg {
      @apply justify-center mt-0;
    }

    @screen xl {
      @apply w-3/5;
    }

    li {
      @apply relative;
      -webkit-tap-highlight-color: transparent;
      flex: 0 0 calc(50% - 1vw);
      margin: 0 1px 20px 1px;

      @screen mobile {
        flex: 0 0 calc(30% - 2vw);
        margin: 0 7px 20px 7px;
      }

      @screen md {
        flex: 0 0 calc(20% - 40px);
        margin: 0;
      }

      @screen lg {
        flex: 0 0 calc(40% - 20px);
        margin: 0 0 20px 20px;
      }

      @screen xl {
        flex: 0 0 calc(33% - 20px);
        margin: 0 0 20px 20px;
      }

      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
      }
      a {
        @apply text-black font-heading border-2 border-solid border-transparent rounded-full text-xs leading-normal text-center px-5 flex no-underline absolute flex-col justify-center items-center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: content-box;
        background-color: var(--bg-color);

        @screen xl {
          @apply text-base;
        }

        &:hover {
          border-color: var(--border-color);
        }
      }
    }
  }
}
