.testimonials {
  &__track {
    @apply relative h-auto flex flex-no-wrap items-center mx-auto;
    transition: transform 0.3s ease-in-out;

    @screen md {
      @apply mt-12;
      height: 38rem;
    }

    @screen lg {
      @apply bg-grey-lightest max-w-md;
    }

    @screen xl {
      @apply max-w-lg;
    }

    @screen xxl {
      @apply w-full max-w-3xl;
      height: 32rem;
    }
    &__testimonial {
      @apply mr-24 bg-grey-lightest relative min-w-full px-4 py-12 mr-20 mt-4;
      left: 50%;
      border-radius: 15px;
      transform: translateX(-50%);

      @screen md {
        @apply px-12 py-24 mt-0;
      }

      @screen lg {
        @apply absolute bg-transparent px-16 py-0 mr-0;
      }

      @screen xl {
        @apply px-24;
      }

      @screen xxl {
        @apply px-32;
      }

      p {
        @apply text-sm text-black font-main leading-loose opacity-100;
        transition: opacity 0.3s ease 0.1s;

        @screen lg {
          @apply opacity-0;
        }
      }

      span {
        @apply opacity-100;
        transition: none;

        @screen lg {
          @apply opacity-0;
          transition: opacity 0.3s ease 0s;
        }
      }

      &.active {
        @apply block;

        @screen lg {
          p {
            @apply opacity-100;
            transition: opacity 0.4s ease 0.3s;
          }

          span {
            @apply opacity-100;
            transition: opacity 0.4s ease 0.4s;
          }
        }
      }
    }
  }

  &__dot {
    @apply text-xs h-3 w-3 block mx-1 rounded-full border-primary border-1 cursor-pointer;

    &.active {
      @apply bg-primary;
    }
  }
}
