.testimonials {
  &__track {
    &__wrapper {
      border: 1px solid red;
    }
    &__testimonial {
      // min-width: 100%;
      opacity: 0;
      transition: opacity 0.6s;

      &.active {
        opacity: 1;
      }
    }
  }

  &__arrow {
    &__left,
    &__right {
      top: 50%;
      transform: translateY(-50%);
      border: 10px solid blue;

      &.disabled {
        opacity: 0.5;
        border: 10px solid red;

        pointer-events: none;
      }
    }

    &__left {
      left: -100px;
    }

    &__right {
      right: -100px;
    }
  }
}
