.images_side_by_side {
  img {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  }

  &__length {
    &--1 {
      picture {
        width: 100%;
      }
    }

    &--2 {
      picture {
        width: 100%;
        object-fit: cover;
        margin-top: 1rem;

        &:first-of-type {
          margin-top: 0;
        }
      }

      @screen mobile {
        picture {
          width: calc(50% - 5px);
          margin-top: 0rem;
        }
      }

      @screen md {
        picture {
          width: calc(50% - 10px);
        }
      }

      @screen xl {
        picture {
          width: calc(50% - 15px);
        }
      }
    }

    &--3 {
      picture {
        width: 100%;
        object-fit: cover;
        margin-top: 1rem;

        &:first-of-type {
          margin-top: 0;
        }
      }

      @screen mobile {
        picture {
          width: calc(33% - 5px);
          margin-top: 0rem;
        }
      }

      @screen md {
        picture {
          width: calc(33% - 10px);
        }
      }

      @screen xl {
        picture {
          width: calc(33% - 15px);
        }
      }
    }
  }
}
